@import url("https://use.typekit.net/tcu4wwf.css");

* {
    box-sizing: border-box;
}

h1{
    font-family: gimlet-display, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 42px;
    margin:0;
    color: #fff;
}

h2{
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-top:0;
    text-transform: uppercase;
    letter-spacing: 8px;
    color:#07ADA1;
}

p{
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:16px;
    color: #fff;
}

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 30px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index:3;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 30px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 30px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 30px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:2;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0,0,0,0.8);
  }
  
  #menu li{
    list-style:none;
  }
  #menu a{
    font-family: fira-sans, sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#fff;
    display:block;
    font-size: 22px;
    letter-spacing: 7px;
    margin-bottom:30px;
    text-decoration:none;
  }

  #menu a:hover{
    color:#07ADA1;
    cursor: pointer;
  }

.contact-button img{
    cursor: pointer;
    width: 80%;
    padding-right: 25px;
}

.contact-button img:hover{
   transform: scale(1.3);
   transition: 1s ease-in-out;
}

.contact-button-desktop {
    display: none;
}

body {
    margin:0;
    background-color: #000;
}

.header {
    text-align:center;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-container .caption {
    z-index: 1;
    margin-left:30px;
    text-align: center;
    padding: 10px;
}


.video-container {
    position: relative;
    width: 100%;
    height:800px;
    display: flex;
    align-items: center;
}

.video-container video {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}


.top-btn {
    margin: 30px 0;
}
/*********************************************/
/***************** Gallery *******************/
/*********************************************/

.row {
    display: flex;
    flex-wrap:wrap;
}

.column{   
    flex-grow: 1;
    flex-basis: 17em;
}

.indiv-img {
    overflow: hidden;
}

/************* 01 Logo entrance **************/

.logo img{
    width:60%;
}

.logo{
    animation: logo 2s ease;
}

@keyframes logo {
    0% {
        margin-top: -250px;
        opacity: 0;
    }

    50% {
        margin-top: 0;
        transform:scale(1.1);
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*********** 02 Gallery Animation ************/


.indiv-img img {
    width:100%;
    vertical-align: middle;
    filter: grayscale(1);
    transition: transform 2s ease;
}

.indiv-img img:hover {
    transform: scale(1.2);
    filter: none;
}



/****************** About ********************/

.about {
    display: flex;
    flex-direction: column;
}

.text {
    padding: 0 20px;
}

.about-content {
    margin: 70px 0;
    text-align: center;
}

button {
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #07ADA1;
    border-radius: 100px;
    padding: 15px 35px;
    border: none;
    color: #fff;
    margin-left:25px;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: #118E84;
}

.contact-icons-btns {
    display: flex;
    align-items: center;
    margin-top: 50px;  
    margin-bottom: 20px; 
    justify-content: space-between;
    padding: 0px 50px;
}

/*********************************************/
/**************** Testimonial ****************/
/*********************************************/


img.quote {
    width: 40%;
    margin-top: 40px;
}

p.feedback {
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.feedback {
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size:16px;
    color: #fff;
    width: 50%;
    margin: auto;
}

.feedback:after {
    animation-name:slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    content: "";
  }

/********* 03 Testimonial Animation **********/

#i1, #i2, #i3, #i4, #i5{ display: none;}

.testimonial{
    text-align: center;
	margin: 0 auto;
	margin-top: 120px;
	position: relative;
	height: 0;
	padding-bottom: 75%;
	user-select: none;
	background-color: #000;
}

cite {
    color: #fff;
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style:italic;
    font-size:12px;
    margin-top:10px;
}

.testimonial .testimonial-content{
	position: absolute;
	width: 100%;
    margin-top: 30px;
}

.prev, .next{
	width: 20%;
	position: absolute;
	top:0; 
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}

.next{right:0;}
.prev{left:0;}

label span{
	position: absolute;
	font-size: 100pt;
	top: 50%;
	transform: translateY(-50%);
}

.prev:hover, .next:hover{
    transition: .3s;
}


.testimonial-p {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px
}

.testimonial-content{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		


/*********************************************/
/******************* Cards *******************/
/*********************************************/

.prices {
    text-align: center;
    margin-top: 50px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:40px;
    flex-direction: column;
}

h3.text-card {
    font-size: 11px;
    letter-spacing: 6px;
}

p.standard {
    color: #000;
}

p.price {
    font-family: gimlet-display, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.card{
    border: solid 3px #fff;
    padding: 100px 40px;
    width: 100%;
    margin: 10px;
}

.card.standard {
    background-color: #fff;
}

.standard h1 {
    color:#000;
}

.card-btn {
    margin-left:0;
}

p.footer {
    border-top: solid 1px white;
    margin-top: 50px;
    padding: 40px 0;
    text-align: center;
}

/****************** Desktop ******************/

@media screen and (min-width:720px) {
    h1{
        font-size: 52px;
    }

    .contact-button{
        display: none;
    }

    .contact-button-desktop {
        display: block;
        padding-right: 25px;
    }

    .contact-button-desktop a{
        cursor: pointer;
        letter-spacing: 7px;
    }
    
    .contact-button-desktop a:hover{
        color:#07ADA1;
    }

    .video-container .caption {
        text-align: left;
        margin-left:70px
    }

    .about {
        flex-direction: row;
        align-items: flex-end;
        margin-top: 120px;
    }

    .about-content {
        margin: 20px 0;
    }

    .main-content{
        width:1280px;
        margin:auto;
    }

    .text {
        width: 70%;
    }

    .contact-icons-btns {
        justify-content: flex-start;
        padding: 0 20px;
    }

    img.quote {
        width: 20%;
    }

    .contact-icons-btns {
        margin-top: 50px;
    }

    .cards {
        flex-direction: row;
    }
    
    .card.basic {
        margin-right: 20px;
    }

    .card.standard {
        padding: 120px 45px;
    }
    
    .card.premium {
        margin-left: 20px;
    }

    .about-content {
        text-align: left;
    }

    .testimonial {
        padding-bottom: 20%;
    }

    .prices {
        margin-top: 120px;
    }
}
